{
  "swagger": "2.0",
  "info": {
    "version": "0.0.1",
    "title": "API - Protótipo (App Operacional)"
  },
  "host": "operacionalapp.heroku.com",
  "tags": [
    {
      "name": "Ativação"
    },
    {
      "name": "Autenticação"
    },
    {
      "name": "Funcionario"
    },
    {
      "name": "Loja"
    },
    {
      "name": "Inventario"
    },
    {
      "name": "Unidade"
    },
    {
      "name": "Produto"
    }
  ],
  "paths": {
    "/ativacao": {
      "post": {
        "tags": [
          "Ativação"
        ],
        "summary": "Ativar o app",
        "operationId": "ativacao",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AtivacaoModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dispositivo ativado com sucesso",
            "schema": {
              "$ref": "#/definitions/ApiResponseModel"
            }
          }
        }
      }
    },
    "/auth": {
      "post": {
        "tags": [
          "Autenticação"
        ],
        "summary": "Iniciar uma sessão no App",
        "operationId": "auth",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AuthModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Login realizado com sucesso",
            "schema": {
              "$ref": "#/definitions/AuthModel"
            }
          }
        }
      }
    },
    "/auth/refresh": {
      "post": {
        "tags": [
          "Autenticação"
        ],
        "summary": "Atualizar a sessão",
        "operationId": "authRefresh",
        "consumes": [
          "application/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Enviar o token_refresh recebido no inicio da sessão",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Sessão atualizada com sucesso",
            "schema": {
              "$ref": "#/definitions/AuthModel"
            }
          }
        }
      }
    },
    "/auth/logout": {
      "post": {
        "tags": [
          "Autenticação"
        ],
        "summary": "Encerrar sessão",
        "operationId": "authLogout",
        "consumes": [
          "application/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "access_token",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Sessão encerrada com sucesso",
            "schema": {
              "$ref": "#/definitions/AuthModel"
            }
          }
        }
      }
    },
    "/funcionario": {
      "get": {
        "tags": [
          "Funcionario"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Enviar o access_token recebido no inicio da sessão",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/FuncionarioModel"
            }
          }
        }
      }
    },
    "/loja": {
      "get": {
        "tags": [
          "Loja"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Enviar o access_token recebido no inicio da sessão",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/LojaModel"
            }
          }
        }
      }
    },
    "/produto": {
      "get": {
        "tags": [
          "Produto"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Enviar o access_token recebido no inicio da sessão",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ProdutoModel"
              }
            }
          }
        }
      }
    },
    "/unidade": {
      "get": {
        "tags": [
          "Unidade"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Enviar o access_token recebido no inicio da sessão",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/UnidadeModel"
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ApiResponseModel": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        }
      }
    },
    "LojaModel": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "example": 1
        },
        "nome_fantasia": {
          "type": "string",
          "example": "SUPERMERCADO SIMARA LTDA"
        },
        "endereco": {
          "type": "string",
          "example": "RUA EXP. ANTONIO CAETANO DE SOUZA FILHO 789"
        },
        "logo": {
          "type": "string",
          "example": "https://operacional.herokuapp.com/images/loja1.jpg"
        },
        "configuracao_produto": {
          "$ref": "#/definitions/ConfiguracaoProdutoModel"
        }
      }
    },
    "ConfiguracaoProdutoModel": {
      "type": "object"
    },
    "AuthModel": {
      "type": "object",
      "required": [
        "access_token",
        "token_refresh"
      ],
      "properties": {
        "access_token": {
          "type": "string",
          "example": "as0d97f0asdnf9821n98xn3284nc9821n3498n12381238c41h23984"
        },
        "token_refresh": {
          "type": "string",
          "example": "f7ua0s9d87f9as7d0fnas9d8fasnbkjbj1hvkj23v41b23l4jb3k2j1b4lkjb123lk4jbl123h4bl12k3b4li"
        }
      }
    },
    "ProdutoModel": {
      "type": "object",
      "required": [
        "created_at",
        "updated_at",
        "assinanteId",
        "produtoId",
        "produtoCodigo",
        "descricao",
        "ativo",
        "novo",
        "balanca",
        "quantidadeEmbalagens",
        "quantidadeItensEmbalagens",
        "unidadeVenda",
        "tipoVenda",
        "pesoVariavel",
        "codigoAuxiliares",
        "preco"
      ],
      "properties": {
        "created_at": {
          "type": "string",
          "example": "2020-02-03 13:56:52"
        },
        "updated_at": {
          "type": "string",
          "example": "2020-02-03 13:56:52"
        },
        "assinante": {
          "type": "integer"
        },
        "produtoId": {
          "type": "integer",
          "example": 123
        },
        "produtoCodigo": {
          "type": "integer",
          "example": 786
        },
        "descricao": {
          "type": "string",
          "example": "CERV EISENBAHN OKTOBER LN 355ML"
        },
        "ativo": {
          "type": "boolean",
          "example": false
        },
        "novo": {
          "type": "boolean",
          "example": false
        },
        "balanca": {
          "type": "boolean",
          "example": false
        },
        "quantidadeEmbalagens": {
          "type": "number",
          "format": "double",
          "example": 1
        },
        "quantidadeItensEmbalagens": {
          "type": "number",
          "format": "double",
          "example": 1
        },
        "unidadeVenda": {
          "type": "string",
          "example": "UN"
        },
        "tipoVenda": {
          "type": "string",
          "example": null
        },
        "pesoVariavel": {
          "type": "string",
          "example": "N"
        },
        "codigo_auxiliar": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CodigoAuxiliar"
          }
        },
        "preco": {
          "$ref": "#/definitions/PrecoModel"
        }
      }
    },
    "PrecoModel": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "example": 123456
        },
        "created_at": {
          "type": "string",
          "example": "2020-02-03T13:56:52.000Z"
        },
        "updated_at": {
          "type": "string",
          "example": "2020-02-03T13:56:52.000Z"
        },
        "assinanteId": {
          "type": "integer",
          "example": 12
        },
        "loja_id": {
          "type": "integer",
          "example": 56
        },
        "preco1": {
          "type": "number",
          "format": "double"
        },
        "preco2": {
          "type": "number",
          "format": "double"
        },
        "preco3": {
          "type": "number",
          "format": "double"
        },
        "preco_oferta1": {
          "type": "number",
          "format": "double"
        },
        "preco_oferta2": {
          "type": "number",
          "format": "double"
        },
        "preco_oferta3": {
          "type": "number",
          "format": "double"
        },
        "preco_venda1": {
          "type": "number",
          "format": "double"
        },
        "preco_venda2": {
          "type": "number",
          "format": "double"
        },
        "preco_venda3": {
          "type": "number",
          "format": "double"
        }
      }
    },
    "CodigoAuxiliar": {
      "type": "object",
      "required": [
        "created_at",
        "updated_at"
      ],
      "properties": {
        "created_at": {
          "type": "string",
          "example": "2020-02-03 13:56:52"
        },
        "updated_at": {
          "type": "string",
          "example": "2020-02-03 13:56:52"
        },
        "assinante": {
          "type": "integer"
        },
        "fator": {
          "type": "integer"
        },
        "tipo": {
          "type": "string",
          "enum": [
            "EAN",
            "LITERAL"
          ],
          "example": "EAN"
        },
        "produto_codigo": {
          "type": "integer",
          "example": 1082
        },
        "codigo_ean": {
          "type": "string",
          "example": "7898367982069"
        },
        "principal": {
          "type": "boolean",
          "example": true
        }
      }
    },
    "AtivacaoModel": {
      "type": "object",
      "required": [
        "assinatura",
        "dispositivo"
      ],
      "properties": {
        "assinatura": {
          "type": "string",
          "example": "a4s86d4as1d6as4d863a74sda1sd68as1d38as4d8as"
        },
        "dispositivo": {
          "$ref": "#/definitions/DispositivoModel"
        }
      }
    },
    "DispositivoModel": {
      "type": "object",
      "required": [
        "so_versao",
        "so",
        "marca",
        "fabricante",
        "modelo",
        "uuid"
      ],
      "properties": {
        "so": {
          "type": "string",
          "example": "android"
        },
        "so_versao": {
          "type": "string",
          "example": "8.1.0"
        },
        "marca": {
          "type": "string",
          "example": "motorola"
        },
        "fabricante": {
          "type": "string",
          "example": "motorola"
        },
        "modelo": {
          "type": "string",
          "example": "Moto G (5) Plus"
        },
        "uuid": {
          "type": "string",
          "example": "a566a5c0-46c9-11ea-ae58-03bb3c51b6dc"
        }
      }
    },
    "UnidadeModel": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "example": 8
        },
        "assinante_id": {
          "type": "integer",
          "example": 5
        },
        "codigo": {
          "type": "string",
          "example": "UN"
        },
        "descricao": {
          "type": "string",
          "example": "Unidade"
        }
      }
    },
    "FuncionarioModel": {
      "type": "object",
      "properties": {
        "nome": {
          "type": "string",
          "example": "Marina"
        },
        "sobrenome": {
          "type": "string",
          "example": "Gosson"
        },
        "telefone": {
          "type": "string",
          "example": "85 9 86280030"
        },
        "username": {
          "type": "string",
          "example": "marinagosson"
        },
        "email": {
          "type": "string",
          "example": "marina.gosson@gmail.com"
        },
        "administrador": {
          "type": "boolean",
          "example": false
        }
      }
    }
  }
}